<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Noobfish" />
   <link href="/atom.xml" rel="alternate" title="Manuscript" type="application/atom+xml">
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <!-- mathjax js -->
   <script type="text/javascript"src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
   </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Manuscript</a>
    <a class="extra" href="/category.html">categories</a>
    <a class="extra" href="/tags.html">tags</a>
    <a class="extra" href="/about.html">about</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        © 2014 ~ 2018 Manuscript <br />
                   <br />
      </p>
    </div>
 

    <div class="rss">
      <a href="/atom.xml">
        <img src="/images/rss.png" alt="Subscribe to Atom Feed" />
      </a>
    </div>
  </div>
</div>

</body>
</html>
