---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>


<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="xn--37qv0we67a.xn--fiqs8s{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript" src="http://static.duoshuo.com/embed.js" charset="utf-8"</script>
<script type="text/javascript">
var duoshuoQuery = {short_name:"manuscript.duoshuo.com"};
</script>
<!-- 多说公共JS代码 end -->




